@model Shared.DTO.CreateAuctionDTO

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Auction</title>
    <link rel="stylesheet" href="~/css/createAuction.css">
</head>

<body>
<div class="container">
    <form class="form" asp-controller="Auction" asp-action="Create" method="post">
        <h2>Create Auction</h2>
        <div class="column">
            <div class="input-group">
                <label for="Title">Title</label>
                <input type="text" id="Title" name="Title" placeholder="Title" required asp-for="Title">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="input-group">
                <label for="Description">Description</label>
                <textarea id="Description" name="Description" placeholder="Description" asp-for="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="column">
            <div class="input-group">
                <label for="StartingBid">Starting Bid</label>
                <input type="number" min="1" id="StartingBid" name="StartingBid" required asp-for="StartingBid">
                <span asp-validation-for="StartingBid" class="text-danger"></span>
            </div>
            <div class="input-group">
                    <label for="StartTime" class="opacity">Start Time</label>
                    <input type="datetime-local" id="StartTime" class="opacity" name="StartTime" asp-for="StartTime">
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="input-group">
                    <label for="EndTime">End Time</label>
                <input type="datetime-local" id="EndTime" name="EndTime" required asp-for="EndTime">
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="submit-button">
                <button type="submit">Create</button>
            </div>
        </div>
    </form>
</div>

</body>

</html>
