@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is an simple Auction application. </p>
    <p>Made by Fabio Marku</p>
    <p>Pragmatic</p>
    <p>29/8/2023</p>
    <a href="https://github.com/fabiomarku1">GitHub</a>
    <br/>
    <a href="https://www.linkedin.com/in/fabiomarku/">Linkedin</a>
</div>
